@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.logo {
  height: 150px;
  border-radius: 50%; }

.navbar-brand {
  padding-left: 35px; }

.navbar-brand {
  color: #643515; }

main {
  background-color: #a4dda4; }

.carousel-inner {
  height: 700px;
  width: 100%; }

.inicio {
  text-align: center;
  padding: 50px; }

.inicio h1 {
  padding-bottom: 50px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Rubik Dirt', cursive;
  color: #643515; }

.foto1 {
  max-width: 100%; }

.fotos-piñatas {
  /*display: flex;
    flex-direction: column;
    align-items: center;*/
  display: flex;
  flex-direction: column;
  align-items: center; }

main {
  background-color: #a4dda4;
  grid-area: main; }

.fondo-p {
  background-image: url("../assets/img/fondo.jpg");
  width: 100%;
  height: 1050px; }

.textocentro {
  text-align: center;
  padding: 50px 0; }

.textocentro h2 {
  padding-bottom: 50px;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Rubik Dirt', cursive;
  color: #643515;
  /*text-shadow: 1px 1px black;*/
  padding-left: 50px;
  padding-right: 50px; }

.productos li {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Rubik Dirt', cursive;
  color: #643515; }

.fondo-m {
  background-image: url("../assets/img/fondo.jpg");
  width: 100%;
  height: 850px; }

.textotrabajo {
  text-align: center;
  padding: 50px 0; }

.textotrabajo h2 {
  padding-bottom: 50px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Rubik Dirt', cursive;
  color: #643515; }

.texto1 h3 {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: #643515; }

.texto2 p {
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: #643515;
  padding-left: 20px;
  padding-right: 20px; }

.seccion-form {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center; }

.mapita-sur {
  /*display: flex;
    justify-content: center;
    align-items: center;*/
  display: flex;
  justify-content: center;
  align-items: center; }

.estilo-form {
  background-color: #cecece;
  padding: 20px;
  width: 300px;
  height: 500px; }

legend {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.datos-campo {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

#nombre {
  width: 250px;
  height: 25px;
  margin-bottom: 15px; }

#telefono {
  width: 250px;
  height: 25px;
  margin-bottom: 15px; }

#email {
  width: 250px;
  height: 25px;
  margin-bottom: 15px; }

#mensaje {
  width: 250px;
  height: 85px;
  margin-bottom: 15px; }

.boton-enviar {
  display: flex;
  justify-content: center; }

.boton-enviar button {
  background-color: #3c8ec4;
  color: white;
  border-radius: 6px;
  width: 85px;
  height: 35px;
  border-style: none; }

iframe {
  width: 450px;
  height: 350px;
  padding-bottom: 20px; }

footer {
  background-color: #ca919a;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  grid-area: footer;
  justify-content: space-between; }

.textofooter {
  font-size: 15px;
  color: #643515;
  padding: 0px 30px;
  padding-top: 15px; }

.iconos1, .iconos2 {
  padding: 0px 12px;
  padding-top: 12px;
  padding-bottom: 8px; }

.iconos2 {
  /*padding: 0px 12px;
    padding-top: 12px;
    padding-bottom: 8px;*/
  text-align: center;
  margin-top: 10px; }

@media (min-width: 576px) {
  .foto1 {
    max-width: 50%;
    padding: 8px 70px; }
  .fotos-piñatas {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .iconos1, .iconos2 {
    display: flex;
    flex-direction: row;
    padding: 0px 12px;
    padding-top: 12px;
    padding-bottom: 8px; }
  .iconos1 span, .iconos2 span {
    margin: 10px; }
  .iconos1 div, .iconos2 div {
    margin: 10px; }
  .iconos2 {
    padding: 0px 12px;
    padding-top: 3px;
    padding-bottom: 8px;
    text-align: center;
    margin-top: 10px; }
  .textocentro {
    text-align: center;
    padding: 50px 0; }
  .textocentro h2 {
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Rubik Dirt', cursive;
    color: #643515; }
  .productos li {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Rubik Dirt', cursive;
    color: #643515; }
  .main-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .seccion-form {
    padding: 30px 0px; }
  .estilo-form {
    background-color: #cecece;
    padding: 20px;
    width: 300px; }
  legend {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  #nombre {
    width: 250px;
    height: 25px;
    margin-bottom: 15px; }
  #telefono {
    width: 250px;
    height: 25px;
    margin-bottom: 15px; }
  #email {
    width: 250px;
    height: 25px;
    margin-bottom: 15px; }
  #mensaje {
    width: 250px;
    height: 85px;
    margin-bottom: 15px; }
  .datos-campo {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .boton-enviar {
    display: flex;
    justify-content: center; }
  .boton-enviar button {
    background-color: #3c8ec4;
    color: white;
    border-radius: 6px;
    width: 85px;
    height: 35px;
    border-style: none; }
  iframe {
    width: 450px;
    height: 350px; }
  .texto2 p {
    padding-left: 80px;
    padding-right: 80px; } }
