main {
    background-color: #a4dda4;
}

.carousel-inner{
 height: 700px;
 width: 100%;
}


.inicio {
    text-align: center;
    padding: 50px; }
  
  .inicio h1 {
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Rubik Dirt', cursive;
    color: $color-texto; }
